body {
    margin: 0;
}

.nav {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.img {
    height: 100px;
}


.nav_links {
    display: flex;
    position: absolute;
    right: 1px;
    top: 30px;
}

.nav_link:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.home,
.wanted,
.about_link,
.contacts {
    text-decoration: none;
    color: aliceblue;
    margin: 0 40px 0 0;
}

h1 {
    text-align: center;
    margin: 0 0 0 0;
}

.block_1,
.block_2,
.block_3 {
    text-align: center;
}

.background_about {
    background-color: blanchedalmond;
    height: 520px;
}

.main_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 43em
}

.about {
    height: 200px;
    margin: 20px 0 0 15px;
}

.title_1,
.title_2,
.title_3 {
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.about_1 {
    margin: 5px 0 0 210px;
    width: 15em
}

.title_1 {
    margin: 10px 650px 0 0;
}

.about_2 {
    margin: 5px 0 0 520px;
    width: 15em
}

.title_2 {
    margin: -160px 45px 0 0;
}

.about_3 {
    margin: 5px 0 0 840px;
    width: 14em
}

.title_3 {
    margin: -123px 0 0 450px;
}

.border {
    height: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_footer {
    height: 100px;
    margin: 0 89 0px 0 0;
}

.logo_footer_1 {
    height: 50px;
    margin: 0 35px 0 0;

}

.logo_footer_2 {
    height: 50px;
    margin: 0 13px 0 0;
}

.active_link {
    color: blanchedalmond;
    text-decoration: underline;
}