.nav {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.img {
    height: 100px;
}


.nav_links {
    display: flex;
    position: absolute;
    right: 1px;
    top: 30px;
}

.nav_link:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.home,
.wanted,
.about,
.contacts {
    text-decoration: none;
    color: aliceblue;
    margin: 0 40px 0 0;
}

.background {
    background: url(../img/main_img.jpg) no-repeat center;
    height: 700px;
}

.contact {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.email,
.password {
    background-color: transparent;
    width: 150px;
}

.email {
    position: absolute;
    bottom: 0px;
    left: 660px;
}

.password {
    position: absolute;
    bottom: -30px;
    left: 660px;
}

.label_1 {
    position: absolute;
    bottom: 0px;
    left: 530px;
}

.label_2 {
    position: absolute;
    bottom: -30px;
    left: 530px;
}

.label_1,
.label_2,
.password,
.email {
    color: bisque;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(237, 202, 159);
}

.button {
    color: bisque;
    width: 100px;
    height: 35px;
    position: absolute;
    bottom: -80px;
    left: 590px;
    border-radius: 2em;
    text-align: center;
    border: none;

}